<file-pattern> filter=lfs diff=lfs merge=lfs -text
apps/sound-generation/src/algoritm/input-data/piano_rolls/classical/*.npy filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
